<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art List</title>
<!--     Dołącz Bootstrap CSS (opcjonalnie)-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container mt-4">
    <h2>Edit Art</h2>

    <form th:object="${art}" th:action="@{/updateArt}" method="post">
        <input type="hidden" th:field="*{id}" />

        <label for="id">ID:</label>
        <input type="text" id="id" th:field="*{id}" readonly />

<!--        <label for="id">ID:</label>-->
<!--        <input type="text" id="id" th:value="${art.ID}" readonly />-->
        <br/>
        <!-- Pola do edycji -->
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" required />
        <br/>

        <label for="price">Price:</label>
        <input type="text" id="price" th:field="*{price}" required />
        <br/>

        <!-- Przycisk do zapisu zmian -->
        <button type="submit" class="btn btn-primary">Save Art</button>
    </form>

    <br/>
    <br/>

    <!-- Przycisk do powrotu do listy -->
    <a th:href="@{/artlist}">Back to Art List</a>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-XCEx+Z9pFWj2wblQHVnU14CNU8F5+KGJpHCF8eXolnDzU13egCffGPOeIJSq1TwD"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6uLbBl6S/BqE6JZnMxImV9ZG1WNRtE+ApA4d1"
        crossorigin="anonymous"></script>


</body>
</html>